.progress-bar-Joy {
      background-color: pink !important;
}

.progress-bar-Anger {
      background-color: red !important;
}

.progress-bar-Sadness {
      background-color: purple !important;
}

.progress-bar-Fear {
      background-color: yellow !important;
}

.progress-bar-Disgust {
      background-color: green !important;
}
