.progress-bar-joy {
  background-color: cyan !important;
}

.progress-bar-anger {
  background-color: red !important;
}

.progress-bar-sadness {
  background-color: purple !important;
}

.progress-bar-fear {
  background-color: black !important;
}

.progress-bar-disgust {
  background-color: brown !important;
}

#results {
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
  padding: 10px;
  height: 100%;
}
