<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>tweetmood</title>
    {% load static %}
    <!-- added jqery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js">
    </script>
    <script src="{% static 'js/loading_button.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/index.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/progress-bar.css' %}" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar navbar-custom justify-content-center">
    <span class="navbar-brand mb-0 h1"><em>tweetmood</em></span>
</nav>
</div>
    {% block content %}
    {% endblock %}
  </body>

</html>
