<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>tweetmood</title>
    {% load static %}
    <script src="../../static/js/lib/jquery.js"></script>
    <script src="{% static 'js/src/controller.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/src/homepageView.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/src/resultsView.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/src/components/button.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/src/components/form.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/src/components/errorMessage.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/src/components/holmesHeader.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/src/components/holmesResults.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/src/components/watsonHeader.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/src/components/watsonResults.js' %}" type="text/javascript"></script>
    <script type="module" src="{% static 'js/app.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/results.css' %}" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar navbar-custom justify-content-center mb-3">
    <span class="navbar-brand"><a id="tweetmood-link" class="nav-link" href="/">tweetmood</a></span>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
